{% extends "layout.html" %}

{% block title %}
  Tweet
{% endblock title %}

{% block mainHeading %}
    Tweet List
{% endblock mainHeading %}

{% block mainContent %}
<div class="text-center p-3">
  <a href="{% url 'tweet_create' %}" class="btn btn-primary m-3">Create a Tweet</a>
</div>

<div class="container row gap-3 m-2">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
            <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{tweet.user.username}}</h5>
              <p class="card-text">{{tweet.text}}</p>
              {% if tweet.user == user %}
              <div class="text-center">
                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
  
{% endblock mainContent %}